# Python
__pycache__/
*.pyc
.venv/
env/
venv/
.env

# Data and Datasets
dataset/
datasets/
augmented_dataset/
фото/
runs/
frames/

# Backend specific
output.avi
output.mp4
capture.mp4
*.jpg
*.mp4
*.avi
*.mov

# IDE
.idea/
.vscode/

# Frontend (Node)
frontend/node_modules/
frontend/.env
frontend/build/
.DS_Store
